/__pycache__
/app/__pycache__
/venv/*
/migrations/__pycache__
/migrations/versions/__pycache__
app.db
.env
app/errors/__pycache__
app/main/__pycache__
app/auth/__pycache__
messages.pot
/app/static/images/*
