{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
        <h1>Hi, {{ current_user.username }}!</h1>
        <h2>{{_('Add a new recipe')}}</h1>
        {{ wtf.quick_form(form) }}
        {% for recipe in recipes %}
            {% include '_recipe_details.html' %}
        {% endfor %}
        {% if prev_url %}
            <a href="{{ prev_url }}">{{_('Newer recipes')}}</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">{{_('Older recipes')}}</a>
        {% endif %}
    </body>
{% endblock %}
