{% extends "base.html" %}

{% block content %}
    <h1>{{  recipe.title  }}</h1>
    <img src='/static/images/{{recipe.id}}' style="width: 256px">
    <h2>{{_('Ingredients')}}</h2>
    {% for ingredient in ingredients %}
        {% include '_ingredient_details.html' %}
    {% endfor %}
    {% if recipe.creator == current_user %}
        <p><a href="{{ url_for('main.recipe_ingredients', id=recipe.id) }}">{{_('Edit ingredients')}}</a></p>
    {% endif %}
    <br>
    <h2>{{_('Method')}}</h2>
    {% if recipe.creator == current_user %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ recipe_method_form.hidden_tag() }}       
            <p>
                {{_('Method:')}}<br>
                {{ recipe_method_form.method(cols=50, rows=10) }}<br>
                {% for error in recipe_method_form.method.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <h2>{{_('Image')}}</h2>
            <p>
                <input type="file" name="image_file" accept="image/*">
            </p>
            <p>
            {{ recipe_method_form.submit(class='btn btn-primary mb-3') }}
            </p>
        </form>
    {% else %}
        <p>
            <pre style="font-family:system-ui">{{ recipe.method }}</pre>
        </p>      
    {% endif %}
{% endblock %}
