{% extends "base.html" %}

{% block content %}
    <h1>{{  recipe.title  }}</h1>
    <img src='/static/images/{{recipe.id}}' style="width: 256px">
    <h2>{{_('Ingredients')}}</h2>
    {% for ingredient in ingredients %}
        {% include '_ingredient_details.html' %}
    {% endfor %}
    <form action="" method="post">
        {{ ingredient_form.hidden_tag() }}
        <p>
            {{_('Ingredient:')}}
            {{ ingredient_form.description(size=32) }}
            {% for error in ingredient_form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{_('Quantity:')}}
            {{ ingredient_form.quantity(size=32) }}
            {% for error in ingredient_form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{_('Unit:')}}
            {{ ingredient_form.unit(size=32) }}
            {% for error in ingredient_form.unit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
           {{ ingredient_form.submit() }}
        </p>
    </form>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {{ recipe_method_form.hidden_tag() }}
        <h2>{{_('Image')}}</h2>
            <input type="file" name="image_file" accept="image/*">
        <h2>{{_('Method')}}</h2>
        <p>
            {{_('Method:')}}<br>
            {{ recipe_method_form.method(cols=50, rows=10) }}<br>
            {% for error in recipe_method_form.method.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
           {{ recipe_method_form.submit() }}
        </p>
    </form>
{% endblock %}
