{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{_('User:')}} {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{_('Last seen on:')}} {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{_('Edit your profile')}}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for recipe in recipes %}
        {% include '_recipe_details.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">{{_('Newer recipes')}}</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">{{_('Older recipes')}}</a>
    {% endif %}
{% endblock %}